*.sqlite3
*.pyc
__pycache__/
.env
*.log
media/
.DS_Store
*.pot
instance/
.pytest_cache/
.coverage
htmlcov/
venv/
env/
*.egg-info/
dist/
build/
db.sqlite3
output/
dataset_hazirlik/
tuf_model_v1.pth
food_classifier.pth
*.pth
!.gitkeep
